#
NotificationProject.xcodeproj/xcuserdata/georg.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NotificationProject.xcodeproj/xcuserdata/georg.xcuserdatad/xcschemes/xcschememanagement.plist
NotificationProject.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
NotificationProject.xcodeproj/project.xcworkspace/xcuserdata/georg.xcuserdatad/UserInterfaceState.xcuserstate
NotificationProject.xcodeproj/project.xcworkspace/contents.xcworkspacedata
NotificationProject.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
NotificationProject.xcworkspace/xcuserdata/georg.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NotificationProject.xcworkspace/xcuserdata/georg.xcuserdatad/UserInterfaceState.xcuserstate
NotificationProject.xcworkspace/contents.xcworkspacedata
Pods
.DS_Store
